@media screen and (orientation: portrait) {
  body.yellowUpApp.image {
    width: 100vw;
    height: 100vh;
      background-color: var(--i-yellowUp-bg-color);
    & > .vwbg > a,
    & .mebty,
    & .myft,
    & .myftp {
      display: none;
    }
    & * {
      border-color: var(--i-yellowUp-color);
      @apply transition-colors;
    }
    & .mycate {
      border: none;
      & a {
        color: var(--i-yellowUp-color);
      }
      background-color: var(--i-yellowUp-bg-color);
    }
    & .myvod {
      background-color: var(--i-yellowUp-bg-color);
      & a {
        color: var(--i-yellowUp-text-color);
      }
    }
    &.watch-image {
      .myvod {
        & > img {
          max-height: 100vh;
          border: none;
          margin-bottom: 10px;
        }
        display: grid;
        justify-items: center;
      }
    }
    & .mymenu {
      @mixin menu {
        border: none !important;
        width: 100%;
        border: none !important;
        padding: 0% !important;
        background-color: var(--i-yellowUp-bg-color) !important;
        & a {
          border-radius: 10px;
          @content;
          background-color: transparent;
          border: solid var(--i-yellowUp-color) 1px;
          color: var(--i-yellowUp-text-color);
          $margin-x: 10px;
          margin-left: $margin-x;
          margin-right: $margin-x;
          height: fit-content;
          backdrop-filter: blur(2px);
        }
      }
      &.header-menu {
        @include menu {
          cursor: default;
        }
      }
      &.fooder-menu {
        @include menu;
        margin-bottom: 20px;
      }
    }
  }
}
