body.yellowUpApp {
  --i-aside-w: 0px;
}
@media screen and (orientation: landscape) {
  $aside-width: 5rem;
  $aside-padding-x-width: 20px;
  $topbar-height: 42px;
  $tagbar-width: 5rem;
  $router-width: 2rem;
  @function left($left) {
    @return calc($aside-width + $left + $router-width + $aside-padding-x-width + var(--i-aside-w));
  }
  @function width($width) {
    @return calc($width - $aside-width - $router-width - $aside-padding-x-width - var(--i-aside-w));
  }
  @mixin useLayout {
    border: none !important;
    padding: 0% !important;
  }
  @mixin useMain($width) {
    @include useLayout;
    width: width($width) !important;
  }
  @mixin main {
    position: fixed;
    right: 0%;
    @include useMain(100vw);
    height: 100vh !important;
    overflow-x: hidden !important;
    background-color: var(--i-yellowUp-bg-color);
    padding: 0% !important;
  }
  @mixin useColor($color: var(--i-yellowUp-color)) {
    color: var(--i-yellowUp-color) !important;
    border-color: var(--i-yellowUp-color) !important;
  }
  @mixin useColorChange {
    &:hover *,
    &:hover {
      background-color: var(--i-yellowUp-color) !important;
      color: var(--i-yellowUp-bg-color) !important;
    }
  }
  @mixin button {
    display: block;
    height: 1.7rem;
    line-height: 1.6rem;
    border-radius: 2px;
    font-size: 0.7rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    width: 11.1%;
    float: left;
    margin-left: 0;
    margin-bottom: 9px;
    width: 100%;
    margin: 0%;
    margin-bottom: 10px;
    background-color: var(--i-yellowUp-bg-color);
    color: var(--i-yellowUp-color);
    border: solid 1px var(--i-yellowUp-color);
    @apply transition-colors;
  }
  body.yellowUpApp.video.video-style2 {
    .mycates {
      position: fixed;
      left: $router-width;
      width: $tagbar-width !important;
      height: 100vh !important;
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding: 0;
      background-color: var(--i-yellowUp-bg-color);
      border: none;
      padding-left: calc($aside-padding-x-width / 2);
      padding-right: calc($aside-padding-x-width / 2);
      border-right: 1px solid var(--i-yellowUp-color);
      z-index: 3000;
      padding-top: 5px;
      & > a {
        @include useColor;
        @include useColorChange;
        position: static;
        width: 100% !important;
        $padding-x: 0.5rem;
        padding-left: $padding-x;
        padding-right: $padding-x;
        margin-right: 0px !important;
        &:last-child {
          margin-right: 0px !important;
        }
      }
      &:first-child {
        padding-top: 10px;
      }
      height: auto;
    }
    .tags-box {
      $width: 3rem;
      --i-aside-w: 3rem;
      border: none;
      height: 100vh !important;
      width: $width;
      position: fixed;
      left: calc($aside-width + $router-width + $aside-padding-x-width);
      overflow-y: auto;
      background-color: var(--i-yellowUp-bg-color);
      border-right: 1px solid var(--i-yellowUp-color);
      a {
        @include useColorChange;
        @include button;
        &:first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
  body.yellowUpApp.video {
    @apply transition-colors;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--i-yellowUp-bg-color);
    #change-video-line {
      display: block !important;
      width: 100%;
      background-color: transparent;
      color: var(--i-yellowUp-text-color);
      border: 1px solid var(--i-yellowUp-color);
      border-top: none;
      font-size: 1rem;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      margin-bottom: -1px !important;
    }
    & * {
      @apply transition-colors;
    }
    & > .vwbg > a,
    & .myft,
    & .myfto {
      display: none;
    }
    & .mebty {
      height: 100%;
      width: $router-width;
      position: fixed;
      z-index: 3000;
      left: 0%;
      overflow-y: auto;
      table {
        & tr {
          display: flex;
          flex-direction: column;
          td {
            @include useColorChange;
          }
        }
        font-size: 16px;
        & * {
          color: var(--i-yellowUp-color) !important;
          background-color: var(--i-yellowUp-bg-color);
          border: none;
        }
        border: none;
        border-right: 1px var(--i-yellowUp-color) solid;
      }
    }
    & .nav {
      //menu
      position: fixed;
      @include useLayout;
      left: $router-width;
      top: 0;
      width: $aside-width;
      height: 100vh;
      & .wrap,
      & p {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        overflow-y: auto;
        position: relative;
        height: 100vh;

        & a,
        & label {
          @include button;
          @include useColorChange;
          & label {
            background-color: transparent;
            border: none !important;
            border-color: transparent;
            border-width: 0px !important;
          }
          input {
            width: 0px;
            &::before {
              content: "标签";
              @include button;
              display: flex;
              border-radius: 2px;
              position: absolute;
              left: 0%;
              transform: translateY(calc(-50% - 3px)) !important;
              justify-content: center;
              align-items: center;
              @apply transition-colors;
            }
          }
          input:checked {
            // display: none;
            &::before {
              content: "标签";
              display: flex;
              border-radius: 2px;
              position: absolute;
              left: 0%;
              transform: translateY(calc(-50% - 3px));
              background-color: var(--i-yellowUp-color);
              color: var(--i-yellowUp-bg-color);
              justify-content: center;
              font-size: 0.7rem;
              align-items: center;
              @apply transition-colors;
            }
          }
        }
      }
      overflow-y: auto;
      padding-left: calc($aside-padding-x-width / 2) !important;
      padding-right: calc($aside-padding-x-width / 2 - 1px) !important;
      background-color: var(--i-yellowUp-bg-color);
      border-right: solid 1px var(--i-yellowUp-color) !important;
    }
    & .srh {
      @include useLayout;
      position: absolute;
      width: 15rem;
      top: 46px;
      z-index: 900;
      left: left(2px);
      background-color: transparent;
      & .keywd {
        background-color: transparent;
        color: var(--i-yellowUp-text-color);
        border: 1px solid;
        @include useColor();
        backdrop-filter: blur(2px);
        width: 80%;
      }
      & button {
        width: 19%;
        background: var(--i-yellowUp-color);
        @include useColor;
        @include useColorChange();
        border: 1px solid;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
      }
    }
    & .mypageuu,
    .mypage {
      //topbar
      position: fixed;
      top: 0;
      left: left(2px);
      height: $topbar-height !important;
      border: none !important;
      @include useLayout;
      width: auto !important;
      background: transparent !important;
      backdrop-filter: blur(2px);
      border-radius: 10px;
      & > a {
        @include useColor;
        @include useColorChange;
        width: auto !important;
        $padding-x: 0.5rem;
        padding-left: $padding-x;
        padding-right: $padding-x;
        margin-right: 10px !important;
        &:last-child {
          margin-right: 0px !important;
        }
      }
    }
    & .div1 {
      display: flex;
      position: fixed;
      left: calc(left($tagbar-width) - $tagbar-width);
      width: $tagbar-width;
      height: 100vh;
      flex-direction: column;
      padding-left: calc($aside-padding-x-width / 2);
      padding-right: calc($aside-padding-x-width / 2);
      border-right: 1px solid var(--i-yellowUp-color);
      z-index: 3000;
      .mycate {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 0;
        background-color: transparent;
        border: none;
        padding-top: 5px;
        & > a {
          @include useColor;
          @include useColorChange;
          width: auto !important;
          $padding-x: 0.5rem;
          padding-left: $padding-x;
          padding-right: $padding-x;
          margin-right: 0px !important;
          &:last-child {
            margin-right: 0px !important;
          }
        }
        &:first-child {
          padding-top: 10px;
        }
        height: auto;
      }
      z-index: 1000;
      overflow-y: auto;
      background-color: var(--i-yellowUp-bg-color);
    }
    & .mymenu {
      @mixin menu {
        position: fixed;
        top: 0;
        height: $topbar-height !important;
        border: none !important;
        z-index: 10;
        max-width: 50vw;
        width: auto;
        @include useLayout;
        background-color: transparent !important;
        & a {
          $border-radius: 2rem;
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          @content;
          background-color: transparent;
          border: solid var(--i-yellowUp-color) 1px;
          border-top: none;
          color: var(--i-yellowUp-text-color);
          $padding-x: 20px;
          padding-left: $padding-x;
          padding-right: $padding-x;
          height: fit-content;
          backdrop-filter: blur(2px);
        }
      }
      &.header-menu {
        @include menu {
          cursor: default;
        }
        left: 0px;
        z-index: 30000;
      }
      &.fooder-menu {
        @include menu;
        right: 0px;
      }
    }
    & .main {
      $top: 1rem;
      position: fixed;
      right: 0%;
      top: $top;
      height: calc(100vh - $top);
      overflow-y: auto;
      @include useMain(100%);
      background-color: var(--i-yellowUp-bg-color);
      & .wrap,
      & .vodlist {
        margin: 0%;
        width: 100%;
        max-width: unset;
        & .vwpp,
        & .wrap {
          display: flex;
          flex-wrap: wrap;
          justify-items: center;
          width: 100%;
          max-width: unset;
          .vodbox {
            display: grid;
            float: unset;
            width: 10rem;
            margin-right: 1rem;
            & p {
              color: var(--i-yellowUp-text-color);
            }
          }
        }
      }
    }
    & .mymenua {
      position: fixed;
      display: block;
      padding: 0;
      z-index: 4000;
      right: 0%;
      width: 5rem;
      background-color: transparent;
      & a {
        display: none;
        &:last-child {
          display: block;
          width: 100%;
          background-color: transparent;
          color: var(--i-yellowUp-text-color);
          border: 1px solid var(--i-yellowUp-color);
          border-top: none;
          $border-radius: 2rem;
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          font-size: 1rem;
          padding-top: 2.5%;
          padding-bottom: 2.5%;
        }
      }
    }
    & .myplayer {
      background-color: var(--i-yellowUp-bg-color);
    }
    & .myplayer {
      border: none;
    }
    & .uzsrhm {
      padding: 0%;
      position: fixed;
      top: 0;
      width: 5rem;
      left: left(520px);
      display: flex;
      background: transparent;
      & input[name="page"] {
        width: 60%;
        margin-right: 2px;
        background: transparent;
        @include useColor;
        backdrop-filter: blur(2px);
        border: 1px solid;
        border-radius: 2px;
      }
      & button {
        width: 40%;
        background: var(--i-yellowUp-color);
        @include useColor;
        @include useColorChange();
        border: 1px solid;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
