@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  border: none;
  margin: 0px;
  padding: 0%;
  min-height: 100vh;
  background: unset;
  overflow-x: hidden;
}
:root {
  --i-border-color: #e2e2e3;
}
* {
  color: black !important;
  &:hover {
    color: black !important;
  }
  &:active {
    color: black !important;
  }
}
